.Movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Movies-h1{
    font-size: x-large;
    color: white;
}

main{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}