/* estilos gerais da aplicação */

* {
    box-sizing: border-box;
    --background-color: #262f2d;
    --logo-color: #ff8239;
    --white: #ffffff;
  }
  
  body {
    width: 100vw;
    height: calc(100vh);
    background-color: var(--background-color);
    color: var(--white);
    font-family: 'Recursive', sans-serif;
    /* font-family: 'Righteous', cursive; */
  }

  header{
    height: 67px;
    background-color: rgb(3, 3, 3);
    color: var(--logo-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}


/*Animação de carregamento*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f55e18;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}